<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>分享</key>
	<dict>
		<key>moduleLevel</key>
		<integer>100</integer>
		<key>moduleParameters</key>
		<dict>
			<key>WeiboUniversalLink</key>
			<string>https://www.baidu.com/appshare/</string>
			<key>QQUniversalLink</key>
			<string>https://www.baidu.com/appshare/</string>
			<key>WeixinUniversalLink</key>
			<string>https://www.baidu.com/appshare/</string>
			<key>QQKey</key>
			<string>11222333444</string>
			<key>WeixinKey</key>
			<string>wxdb2ddssdsdssss</string>
			<key>WeiboKey</key>
			<string>666666666</string>
		</dict>
		<key>moduleID</key>
		<string>share</string>
		<key>moduleClass</key>
		<string>ShareModule</string>
	</dict>
	<key>scanCertCard</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>scanCertCard</string>
		<key>moduleClass</key>
		<string>ScanCertCardRouteModule</string>
	</dict>
	<key>insideApp</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>insideApp</string>
		<key>moduleClass</key>
		<string>CommonRouterModule</string>
	</dict>
	<key>VocalApp</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>VocalApp</string>
		<key>moduleClass</key>
		<string>VocalRouterModule</string>
	</dict>
	<key>TouchIDApp</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>TouchIDApp</string>
		<key>moduleClass</key>
		<string>TouchIDRouterModule</string>
	</dict>
	<key>riskControlCheck</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>riskControlCheck</string>
		<key>moduleClass</key>
		<string>RiskControlCheckRouterModule</string>
	</dict>
	<key>bankOcr</key>
	<dict>
		<key>moduleLevel</key>
		<integer>0</integer>
		<key>moduleParameters</key>
		<dict/>
		<key>moduleID</key>
		<string>bankOcr</string>
		<key>moduleClass</key>
		<string>BankOcrRouterModule</string>
	</dict>
</dict>
</plist>
